
/paper-1.19.4-550.jar
/.rcon-cli.yaml
/.rcon-cli.env
/whitelist.json
/spigot.yml
/usercache.json
/version_history.json
/permissions.yml
/ops.json
/help.yml
/eula.txt
/server.properties
/commands.yml
/banned-ips.json
/banned-players.json
/bukkit.yml
/.paper.env
/.papermc-manifest.json
/versions/
/world/
/world_nether/
/world_the_end/
/plugins/bStats/
/plugins/tmp-95585/
/plugins/UltimateAdvancementAPI/
/plugins/.file-list-manifest.json
/plugins/one-server-plugin.jar
/plugins/UltimateAdvancementAPI-2.2.8-(1.15-1.20.4).jar
/plugins/.1997-version.json
/plugins/CommandAPI-9.3.0.jar
/plugins/HolographicDisplays.jar
/plugins/ProtocolLib.jar
/plugins/Citizens/
/plugins/CommandAPI/
/plugins/HolographicDisplays/
/plugins/ProtocolLib/
/logs/
/libraries
/one-logs/
/cache/
/config/